// Import CSS Normalize - This replaces Eric Meyer's Reset 7-6-2012
@import "normalize.css";

// style the chromeframe message if it gets used
// chrome frame was depricated by Google but still exists in some places including this template
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* =========================================================================================================================
* @FONT-FACE EMBEDDING
*
* be sure to put relevant font files inside the /fonts folder and change links approprately 
*   below is an example using Open Sans from Google Fonts
* ========================================================================================================================= */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

%font-base { font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; }
%font-open-sans { font-family: "Open Sans", Helvetica, Arial, sans-serif; }
%font-OS-light { @extend %font-base; @extend %font-open-sans; font-weight: 300; }
%font-OS-regular { @extend %font-base; @extend %font-open-sans; font-weight: 400; }
%font-OS-medium { @extend %font-base; @extend %font-open-sans; font-weight: 600; }
%font-OS-bold { @extend %font-base; @extend %font-open-sans; font-weight: 700; }
%font-OS-heavy { @extend %font-base; @extend %font-open-sans; font-weight: 800; }


/* =========================================================================================================================
* We're done with all the resets & utility classes:
* ADD GLOBAL SITE STYELS HERE - See your changes right away in elements.html
*
* be general with these. We want to allow as much recycling as possible
* ========================================================================================================================= */


/* -----  Basic Colors & default sizing use LESS ----- */

$action-color: #FF5E99;
$actionHover-color: #FF5E99;
$text-color: #333333;
$error-color:#cc0000;

$normal-size: 10px;


/* -----  Basic styling  ----- */
html { height:100%; }
body {color: $text-color; height: 100%;} /* base font family, size, color, etc */

a, a:active, a:visited { color: $action-color; }

a:hover { text-decoration: none;  }
a.externalLink {} /* links that go off site */

/* text elements */
h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; }

h1 { }
h2 { }
h3 {}
h4 {}
h5 {}
h6 {}

p {}
p:first-child {} /* First paragraph in a container */
p:first-letter {} /* use this if you want a drop cap. Note it applies to ALL paragraph tags */
blockquote {}

// strong, b { font-weight: bold; }
// em, i { font-style: italic; }
sub {}
sup {}
hr {}

li { margin-left: 15px; }
ul li {}
ol li {}
dl dt {}
dl dd {}

/* form elements */

fieldset {}
legend {}
label {}
.inputText {} /* Use since input[type=text] etc is buggy in most browsers */
input {}
input[type="text"], input[type="email"], input[type="password"], input[type="search"] {}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="search"]:focus {}
input[type="submit"] {}
textarea {}
select {}
select option {}
select optgroup {}
select optgroup option {}
button {}


.error {font-style: italic; color: $error-color; font-size: 14px; 
  span { font-weight: bold; }
  li { text-align: center; font-size: 12px; padding: 5px; }
} /* use for validation error messages */

.field-validation-valid {  }
.field-validation-error {  }
.input-validation-error {  }


::-webkit-input-placeholder { color:#999; font:99% sans-serif; }
input:-moz-placeholder { color:#999; font:99% sans-serif; }

// Set these if you want to use HTML5's form validation
input:required:invalid, input:focus:invalid { -moz-box-shadow: none; /* Removes default delete if using own shadow */ }
input:required:valid, input:focus:valid { }

input:focus:invalid { border: 1px solid $error-color; color: $error-color; }
input:required:valid, input:focus:valid { color:green; border: 1px solid green; }


/* html5 layout elements */
header {}
footer {}
nav {}
aside {}


/* =========================================================================================================================
* ADD PAGE SPECIFIC OR SPECIALTY STYLES HERE
*
* be specific with these (only use them where needed)
* ========================================================================================================================= */




/* =========================================================================================================================
* MEDIA QUERIES FOR PRINT AND MOBILE DEVICES
*
* inlined to avoid required HTTP connection
* ========================================================================================================================= */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen  and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen  and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone Retna ----------- */
@mediaonly screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}



@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}  


/* =========================================================================================================================
*   UTILITY CLASSES TO MAKE YOUR LIFE EASIER - CHECK HERE BEFORE ADDING STUFF
*   Always call these last
*   ========================================================================================================================= */
@import "utility.css";

